node_modules/
out/
release/
dist/
*.log
*.tsbuildinfo
.DS_Store
.env
/native/mac-notifications/build/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
